*{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

#containerBox{
    position: relative;
    width: 498px;
    height: 250px;
    /* background-color: lemonchiffon; */
}

.Email{
position: absolute;
width: 74px;
height: 17px;
left: 23px;
top: 19px;
}

.Password{
position: absolute;
width: 74px;
height: 17px;
left: 23px;
top: 107px;
/* 107 */
}

#emailaddress{
box-sizing: border-box;

position: absolute;
width: 360px;
height: 28px;
left: 23px;
top: 42px;

border: 1px solid #000000;
border-radius: 5px;
}

#password{
    box-sizing: border-box;
    
    position: absolute;
    width: 360px;
    height: 28px;
    left: 23px;
    top: 130px;
    
    border: 1px solid #000000;
    border-radius: 5px;
    }

.warning{
    color: white;
}

#wOne{
position: absolute;
width: 345px;
height: 15px;
left: 23px;
top: 76px;
}

#wTwo{
position: absolute;
width: 269px;
height: 15px;
left: 23px;
top: 168px;
}

#submitBtn{
box-sizing: border-box;

position: absolute;
width: 128px;
height: 27px;
left: 23px;
top: 199px;

border: 1px solid #000000;
border-radius: 5px;

text-align: center;
}

#wThree{
position: absolute;
width: 83px;
height: 15px;
left: 23px;
top: 162px;
}